<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="mb-3">
    <%= form.label :title, class: 'form-lable'%><br>
    <%= form.text_field :title, class: 'form-control'%>
  </p>

  <div class="mb-3">
    <%= form.label :text, class: 'form-lable'%><br>
    <%= form.text_area :text, class: 'form-control'%>
  </p>
 
  <p>
    <%= form.submit class: 'btn btn-success'%>
  </p>
 
<% end %>
