<!DOCTYPE html>
<html>
  <head>
    <title>TryRailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css" media="screen">
      body {
        font-family: monospace;
        font-size: 1rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
